<head>
  <title>{{ site.title }} | {{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Stefan Schneider's Personal Website">
  
  <!-- Google Search Console -->
  <meta name="google-site-verification" content="W4gRedSIG4x8w1mf13L6h8A4a17bwZ66JwLH6Q2lcVA" />

  <!-- Favicon: https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!--for cookie banner (from websitepolicies.com)-->
  <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},"button":{"background":"#555555","text":"#ffffff"}},"position":"bottom","content":{"href":"https://www.websitepolicies.com/policies/view/2QHCZBWr","message":"This website uses cookies to ensure you get the best experience on my website."}})});</script>

  <!-- Global CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css">

  <!-- Plugins CSS -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/all.css"> -->
  <script src="https://kit.fontawesome.com/cd408a8b63.js" crossorigin="anonymous"></script>

  <!-- Hover CSS-->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hover-min.css" >

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">	
</head>