{% assign hobbies = site.data.data.sidebar.hobbies %}
{% if hobbies %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Hobbies
  </h2>

  <ul class="list-unstyled interests-list">
    {% for hobby in hobbies %}

    <li><i class="fas {{ hobby.icon }}"></i>
      {% if hobby.link %}
        <a href="{{ hobby.link }}">{{ hobby.item }}</a>
      {% else %}
        {{ hobby.item }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
