{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interests
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

    <li><i class="fas {{ interest.icon }}"></i>
      {% if interest.link %}
        <a href="{{ interest.link }}">{{ interest.item }}</a>
      {% else %}
        {{ interest.item }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
