{% assign projects = site.data.data.personal_projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-code-branch fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.projects %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="project-title"><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h3>
        
      </div><!--//upper-row-->

	  <div class="project-time">{{ project.time }}
      <span class="project-funding">
		{% if project.funding_link %}
		<a href="{{ project.funding_link }}" target="_blank">
			{{ project.funding }}
		</a>
		{% else %}
		{{ project.funding }}
		{% endif %}
		</span>
	  </div>
	  

    </div><!--//meta-->

    {% if project.details %}
    <div class="details">
      {{ project.details | markdownify }}
    </div><!--//details-->
    {% endif %}
	
	{% if project.technology %}
	<i class="fas fa-cogs">
		<span class="project-tech">{{ project.technology }}</span>
	</i>
	{% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
