{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
  
  {% assign i = 0 %}
  {% for publication in publications.papers %}
  {% assign i = i | plus:1 %}
  <div class="item">
    <div class="publication-title"><span class="publication-counter">[{{ i }}]</span> <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.published_in }}, {{ publication.year }}
        {% if publication.preprint %}
        [<a href="{{ publication.preprint }}" target="_blank">preprint</a>] 
        {% endif %}
		{% if publication.code %}
        [<a href="{{ publication.code }}" target="_blank">code</a>]
        {% endif %}
		{% if publication.video %}
        [<a href="{{ publication.video }}" target="_blank">video</a>]
        {% endif %}
    </div>
	{% if publication.award %}
	<div class="publication-award">
		<a href="{{ publication.award_link }}" target="_blank"><i class="fas fa-award"></i> {{ publication.award }}</a>
	</div>
	{% endif %}
  </div><!--//item-->
  {% endfor %}

  <!-- <div class="publication-subheader">Publications in International Journals:</div>

  {% assign i = 0 %}
  {% for publication in publications.journals %}
  {% assign i = i | plus:1 %}
  <div class="item">
    <div class="publication-title"><span class="publication-counter">[J{{ i }}]</span> <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.published_in }}, {{ publication.year }}
        {% if publication.preprint %}
        [<a href="{{ publication.preprint }}" target="_blank">preprint</a>]
        {% endif %}
    </div>
  </div>
  {% endfor %}
  
  <div class="publication-subheader">Peer-reviewed Conference Publications:</div>

  {% assign i = 0 %}
  {% for publication in publications.conferences %}
  {% assign i = i | plus:1 %}
  <div class="item">
    <div class="publication-title"><span class="publication-counter">[C{{ i }}]</span> <a href="{{ publication.link }}" target="_blank">{{ publication.title }}</a></div>
    <div class="publication-authors">{{ publication.authors }}</div>
    <div class="publication-conference">{{ publication.published_in }}, {{ publication.year }}
        {% if publication.preprint %}
        [<a href="{{ publication.preprint }}" target="_blank">preprint</a>]
        {% endif %}
    </div>
  </div>
  {% endfor %} -->

</section><!--//section-->
{% endif %}
