<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="far fa-calendar-alt fa-stack-1x fa-inverse"></i>
    </span>
    Service
  </h2>


  {% assign orga = site.data.data.organization %}
  {% if orga %}
  <h3 class="subsection-title">Organized Events</h3>
  <div class="intro">
    I helped organizing the following conferences and workshops:
  </div><!--//intro-->

  <ul>
  {% for org in orga %}
    <li>{{ org.year }}: {{ org.role }} at 
		<a href="{{ org.link }}" target="_blank">{{ org.event }}</a>
	</li>
  {% endfor %}
  </ul>
  {% endif %}


  {% assign reviews = site.data.data.reviews %}
  {% if reviews %}
  <h3 class="subsection-title">Reviews</h3>
  <div class="intro">
    I served as a reviewer for the following international journals:
  </div><!--//intro-->

  <ul>
  {% for review in reviews %}
    <li>{{ review.year }}: {{ review.title }}</li>
  {% endfor %}
  </ul>
  {% endif %}


</section><!--//section-->

