<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-video fa-stack-1x fa-inverse"></i>
    </span>
    Videos
  </h2>

  <div class="intro">
  </div><!--//intro-->

  <div class="item">
      <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Beyond Cellular Green Generation (BCG2) Demo Video</h3>
            <div class="time"></div>
          </div><!--//upper-row-->
          <div class="company">GreenTouch Project (2015)</div>
      </div><!--//meta-->
      <div class="details center-content">
          <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/owH9ox9Tpik" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <div class="item" style="padding-top: 16px;">
      <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">SONATA SDK: Rapid prototyping of network services</h3>
            <div class="time"></div>
          </div><!--//upper-row-->
          <div class="company">SDN World Congress (2016)</div>
      </div><!--//meta-->
      <div class="details center-content">
          <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ncj2llNZ6qg" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <div class="item" style="padding-top: 16px;">
      <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Tech. Demo: "Containernet 2.0: A Rapid Prototyping Platform for Hybrid Service Function Chains"</h3>
            <div class="time"></div>
          </div><!--//upper-row-->
          <div class="company">IEEE NetSoft (2018)</div>
      </div><!--//meta-->
      <div class="details center-content">
          <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/sJZU7dVAyXE" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <div class="item" style="padding-top: 16px;">
      <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">IETF Draft "Methodology for VNF Benchmarking Automation" Presentation</h3>
            <div class="time"></div>
          </div><!--//upper-row-->
          <div class="company">IETF104-BMWG (2019)</div>
      </div><!--//meta-->
      <div class="details center-content">
          <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/5jwO_D2kOsA?start=3979" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

  <div class="item" style="padding-top: 16px;">
      <div class="meta">
          <div class="upper-row">
            <h3 class="job-title">Tech. Demo: "Prototyping and Demonstrating 5G Verticals: The Smart Manufacturing Case"</h3>
            <div class="time"></div>
          </div><!--//upper-row-->
          <div class="company">IEEE NetSoft (2019)</div>
      </div><!--//meta-->
      <div class="details center-content">
          <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/WKtf-QpORoM" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>

</section><!--//section-->

