<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
    </span>
    Teaching
  </h2>

	<div class="subsection-title">Classes</div>
	<ul>
		<li>2019-2021: Graduate Seminar on Networking (Student Advisor)</li>
		<li>2018: Model-based Software Engineering (Student Advisor)</li>
		<li>2014: Systems Software (Tutor)</li>
		<li>2012-2013: Java Fundamentals (Tutor)</li>
	</ul>
	
	<div class="subsection-title">Advised Graduate Student Projects</div>
	<p>Each project runs for 1 year and consists of up to 16 graduate students.</p>
	<ul>
		<li>2020-2021: AICON - Artificial Intelligence for Communication Networks</li>
		<li>2019-2020: BAcKFLiP - Benchmarking network functions to collect the world's largest NFV performance dataset</li>
	</ul>

	<div class="subsection-title">Advised Bachelor and Master Theses</div>
	<ul>
		<li>2021: Trade-offs in Predictive Service Coordination</li>
		<li>2020: Deep Reinforcement Learning for Scaling, Placement, and Routing in Network Function Virtualization (Master's Thesis)</li>
		<li>2020: Hierarchical Coordination of Virtual Network Function Chains (Master's Thesis)</li>
		<li>2020: Fully Distributed Scaling, Placement, and Routing in Network Function Virtualization (Bachelor's Thesis)</li>
		<li>2019: A Simian Army for Network Function Virtualization: Monkeys in a Telco Network (Bachelor's Thesis)</li>
		<li>2019: Machine Learning-Based Load Prediction for Network Function Virtualization Scenarios (Master's Thesis)</li>
		<li>2019: Performance Prediction in Virtual Function Placement Using Machine Learning Techniques (Master's Thesis)</li>
		<li>2019: Using Queuing Petri Nets in a Scaling and Placing Algorithm for Chains of Virtual Network Functions (Master's Thesis)</li>
	</ul>
  

</section><!--//section-->

