<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-chalkboard-teacher fa-stack-1x fa-inverse"></i>
    </span>
    Teaching
  </h2>

  <div class="intro">
      <p>During my time as research associate at <a href="https://cs.uni-paderborn.de/cn/" target="_blank">Paderborn University</a>, 
        I was involved into a couple of classes and supervised multiple student project groups, student research assistants, as well as a series of Bachelor and Master theses.</p>
        <div class="teaching-subheader">Classes:</div>
        <ul>
            <li>WS15/16: Exercises of the "distributed systems" class (bachelor)</li>
            <li>WS16/17: Exercises of the "distributed systems" class (bachelor)</li>
        </ul>
        <div class="teaching-subheader">Supervised student projects:</div>
        <p>Student project groups are part of the computer science program (Master) at Paderborn University. In a project group, up 
            to 14 master students work on a research topic over a period of one year. I supervised three of these project groups:</p>
        <ul>
            <li>SS15-WS15/16: DECaF - DistributEd Cloud Functions </li>
            <li>SS16-WS16/17: SanDMAN - Service Development and Management for softwAre-defined Networks</li>
            <li>SS19-WS19/20: BAcKFLiP - Benchmarking network functions to collect the world's largest NFV performance dataset</li>
        </ul>

        <p>In addition to this, I supervised 5 student research assistants between 2016 and 2020.</p>
        <div class="teaching-subheader">Supervised Bachelor and Master theses:</div>
        <p>I supervised a total of <a href="https://www.uni-paderborn.de/person/13271/" target="_blank">9 Bachelor theses and 3 Master theses</a> between 2016 and 2020. The theses were investigating different topics 
        ranging from practical cloud computing and NFV problems to machine learning approaches for performance prediction.
        </p>
  </div><!--//intro-->
  

</section><!--//section-->

